<h1> All my posts for <%= @place["name"] %> </h1>

<br><br>

<% for post in @posts %>
    <p>
        <h2> <%= post["title"] %> </h2>
    </p>
    <p>
        <i> <%= post["posted_on"] %> </i>
    </p>
    <p>
        <%= post["description"] %>
    </p>
<% end %>

<br><br>

<p>
    <a href="/posts/new?place_id=<%= @place["id"] %>"> Create new post for <%= @place["name"] %> </a>
</p>

<p>
    <a href="/places"> Back to all places </a>
</p>